.container{
    width: 1200px;
    margin: 0 auto;
}

#featured{
    padding: 30px 0px;
}

.title{
    font-size: 1.8rem;
    color: white;
    margin-bottom: 20px;
}

.title-02{
    font-size: 1.8rem;
    color: white;
    margin-bottom: 30px;
    margin-top: 30px;
}

.videos-section{
    display: grid;
    grid-template-columns: 1fr 2fr 620px 2fr 1fr;
    grid-gap: 10px;
}

.video{
    display: flex;
    justify-content: center;
    align-items: center;
}



.center{
    width: 100%;
    height: 349px;
}

.image{
    width: 100%;
    height: 80%;
    background: url("https://lh3.googleusercontent.com/m6FeLOkUfP8qTZNXKFSSI8_exI-SlGJRcIArl3gRm3-VninL7l1RdYlPkkf2CfbBnA=s180-rw");
    background-position: center;
    background-size: 100% 300px;
}

.center-image{
    width: 100%;
    height: 100%;
    background: url('../../../assets/images/podcast-img-03.jpg');
    background-size: cover;
    transform: scale(1.05);
    border: 3px solid #4682B4;
}

.dots{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.circles{
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    margin: 0 5px;
    transition:all 0.2s ease-in-out ;
}

.circle:hover{
    width: 20px;
    height: 20px;
    background: #4682B4;
    border-radius: 50%;
    margin: 0 5px;
}

.active{
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    margin: 0 5px;

}
.podcasts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 3px;
}


// CSS FOR NEW PODCAST

.podcast{
    background:white;
    border-radius: 5px;
}

.podcast:hover .podcastplay .podcastplaybtn{
    opacity: 1;
}


.card-img{
    height: 200px;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.img-svg{
    font-size: 1em;
    color: white;
}

.podcast-infos{
    padding: 0 5px;
    display: flex;
}

.podcastplay{
    margin-left: 10px;
}

.podcastplaybtn{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: rgb(14, 202, 14);
    transition: 1ms ease;
    opacity: 0;
}

.infos{
    margin-top: 3px;
    font-size: 1rem;
    color: rgb(20, 20, 53);
}

.views{
    color: white;
    margin-top: 5px;
    color: rgb(20, 20, 53);
}


// CSS FOR CATEGORY

.categories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 3px;
}

.category{
    height: 250px;
    width: 100%;
    border-radius: 5%;
    padding: 10px;
}

.category:hover{
    border: 2px solid white;
}

.cat-title{
    color: white;
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
}


// CSS FOR CHANNELS

.profil{
    height: 80px;
    width: 80px;
    background: white;
    border-radius: 50%;
    margin-left: 25%;
}

.profil-img{
    height: 80px;
    width: 80px;
}